/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @keyframes pop-in {
 0% { opacity: 0;transform: scale(0.1); }
 100% { opacity: 1;transform: scale(1); }
 }
 @-webkit-keyframes pop-in {
 0% { opacity: 0;-webkit-transform: scale(0.1); }
 100% { opacity: 1;-webkit-transform: scale(1); }
 }
 @-moz-keyframes pop-in {
 0% { opacity: 0;-moz-transform: scale(0.1); }
 100% { opacity: 1;-moz-transform: scale(1); }
 }

 @keyframes pop-out {
 0% { opacity: 1;transform: scale(1); }
 100% { opacity: 0;transform: scale(0.1); }
 }
 @-webkit-keyframes pop-out {
 0% { opacity: 1;transform: scale(1); }
 100% { opacity: 0;transform: scale(0.1); }
 }
 @-moz-keyframe pop-out {
 0% { opacity: 1;transform: scale(1); }
 100% { opacity: 0;transform: scale(0.1); }
 }

 body {
  font-family: 'Open Sans', sans-serif;
 }

 fieldset {
   padding-bottom: 0;
 }

 textarea {
   resize: vertical;
 }

  #submit {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #main-section {
    line-height: 0;
  }

  #connections {
    border-bottom: 1px dotted orange;
  }
    #connections .draggable i {
      margin-right: 1rem;
    }
    #connections .draggable i:hover {
      cursor: move;
    }

.modal {
  position: absolute;
  left: 0;
  right: 0;
  width: 500px;
  margin: 0 auto;
  z-index: 1005;
  background-color: #FFFFFF;
  box-shadow: 4px 4px 10px #000;
  overflow: hidden;
}
  .modal i {
    font-size: 150%;
  }
  .modal input {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .modal .close {
    color: rgb(186, 0, 0);
  }
    .modal .close:hover {
      cursor: pointer;
      color: rgb(152, 0, 0);
    }
  .modal .header {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-bottom: 1px solid #CCC;
    text-align: center;
  }
    .modal .header span {
      font-variant: small-caps;
      line-height: 2;
    }
  .modal .result {
    height: 0px;
    visibility: hidden;
  }
    .modal .result .icon {
      text-align: center;
      font-size: 175%;
      color: #008CBA;
      border-bottom: 4px solid #008CBA;
      margin-bottom: 2rem;
      line-height: 1;
    }
    .modal .result .user,
    .modal .result .no-users {
      padding: .5rem;
      background-color: #FAFAFA;
      border: 1px solid #EDEDED;
      border-top: 2px solid #43AC6A;
      text-align: center;
    }
      .modal .result .no-users {
        border-top: 2px solid rgb(186, 0, 0);
      }
      .modal .result .user i,
        .modal .result .no-users i {
        color: #008CBA;
        padding: 0;
        margin: 0;
      }
      .modal .result .no-users i {
        color: rgb(186, 0, 0);
      }
      .modal .result .user p,
        .modal .result .no-users p {
        padding: 0;
        margin: 0;
      }
      .modal .result .user:hover,
        .modal .result .no-users:hover {
        background-color: #EDEDED;
        cursor: pointer;
      }

#modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0);
  z-index: 1004;
}

.loginForm {
  margin-top: 2rem;
}
  .loginForm .icon {
    text-align: center;
    margin-bottom: 2rem;
  }
    .loginForm .icon i {
      font-size: 500%;
    }

.off-canvas-list {
  font-weight: bold;
  font-size: 12px;
}
  .off-canvas-list .profile-name {
    border: none;
    background: rgb(226, 146, 0);
  }
  .left-off-canvas-toggle, .right-off-canvas-toggle {
    font-size: 1.8rem;
    text-align: center;
    padding: .5rem;
    color: #FFF;
  }
  .right-off-canvas-menu li.active {
    background: rgb(226, 146, 0);
  }

  .f-dropdown {
    background: rgb(32, 116, 144) !important;
    border: none !important;
    font-variant: small-caps;
 }
 .f-dropdown li:hover, .f-dropdown li a:hover {
    background: rgba(255, 255, 255, 0.1) !important;
    border-color: rgb(226, 146, 0);
  }
    .f-dropdown li a {
      font-size: 12px;
      color: #FFF !important;
    }

.transparent {
  border:none;
  background-color: transparent;
}

.message-enter {
  -webkit-animation:pop-in 0.3s;
  -moz-animation:pop-in 0.3s;
  -ms-animation:pop-in 0.3s;
}

.message-enter.message-enter-active {
  opacity: 1;
}

.message-leave {
  -webkit-animation:pop-out 0.3s;
  -moz-animation:pop-out 0.3s;
  -ms-animation:pop-out 0.3s;
}

.message-leave.message-leave-active {
  opacity: 0.01;
}

#messages {
  min-height: 55vh;
  max-height: 55vh;
  overflow-y: auto;
  overflow-x: hidden;
}
  #messages .message {
    padding: 0;
    margin: 0;
    margin-bottom: -20px;
  }
    #messages .message:nth-child(2n) {
      background-color: #F7F7F7;
    }
  #messages .edit-message {
    color: #CCC;
  }
    #messages .edit-message:hover, #messages .edit-message.open {
      color: rgb(85, 85, 85);
    }
  #messages .edit-message-dropdown {
    width: 100px;
    font-variant: small-caps;
    text-align: center;
    color: #FFF;
  }
    #messages .edit-message-dropdown li:first-child {
      border-bottom: 1px dotted #216277;
    }
  #messages .updated-at {
    clear: both;
  }
    #messages .updated-at i {
      font-size: 100%;
      margin: 0;
    }
  #messages blockquote {
    padding: 1rem;
    word-break: break-all;
    border-right: 5px solid #008CBA;
    border-left: none;
  }
    #messages blockquote p span {
      white-space: pre-line;
    }
    #messages blockquote.active {
      border-left: 4px solid rgb(255, 116, 0);
      border-right: none;
    }
    #messages blockquote span.author {
      color: #008CBA;
    }
    #messages blockquote span.author.active {
      font-weight: bold;
      color: rgb(255, 116, 0);
    }

#attendees {
}
  #attendees .label {
    margin: 0 0 1rem 0;
    border-right: 1px dotted #FFF;
  }
    #attendees .label.active {
      background-color: rgb(255, 116, 0);
    }
  #attendees .draggable {

  }

#conversations li {
  position: relative;
}
  #conversations li a .notifications {
    position: relative;
    padding: 0px 8px;
    background: rgb(99, 201, 65);
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
  }
    #conversations li a .notifications:after {      
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 4px 3px 0;
      border-color: rgb(99, 201, 65) transparent;
      display: block;
      width: 0;
      z-index: 1;
      bottom: -3px;
      left: 10px;
    }
    #conversations li a .notifications span {
      color: #333;
      font-size: 90%;
    }
    #conversations li a.settings {
      position: absolute;
      top: 0;
      right: 0;
    }
      #conversations li a.settings:hover,
      #conversations li a.settings.open {
        background-color: rgb(32, 116, 144);
      }
      #conversations li i.fi-x {
        color: rgb(152, 0, 0);
      }
.commentForm {
  min-height: 30vh;
  max-height: 30vh;
  padding-right: 1.2rem;
}
  .commentForm textarea:focus {
    border-color: #008CBA;
  }


.clone {
  display: inline;
  width: 250px;
  height: 41px;
  padding: 0.66667rem;
  background-color: #333;
  color: rgba(255,255,255,0.7);
  font-size: 12px;
  font-weight: bold;
  z-index: 200000;
  box-shadow: 4px 4px 10px #000;
}
.exit-off-canvas {
  background: rgba(0,0,0,0.5) !important;
}
  .exit-off-canvas:hover {
    background: rgba(0,0,0,0.25) !important;
  }
  .exit-off-canvas.ui-state-hover {
    border: none;
    background: rgba(0,0,0,0.75) !important;
  }
  .exit-off-canvas i {
    position: absolute;
    display: inline-block;
    margin-top: 50%;
    margin-left: 5rem;
    font-size: 250%;
    color: #FFF;
  }